<h1>Welcome to the Tasks Page</h1>

<p>Here are the tasks</p>

<%= form_for @task do |f| %>
  <div>
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>

<ul id="tasks-list">
  <%= render current_user.tasks %>
</ul>

